.root {
    --nav-color: #ffffff;
    --nav-text: #042A2B;
    --primary-color: #4EA699;
    --secondary-color: #615055;
    --hover-color: #ED6B86;
}

body {
    background-color: #e5f4e6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.nav-bar {
    background-color: #FFFFFF;
    color: #042A2B;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 99%;
    height: 75px;
    position: fixed;
    top: 5px;
    padding: 0px 30px;
    margin: 0;
    border-radius: 12px;
    box-sizing: border-box;
    z-index: 1;
}

.menu {
    display: flex;
    list-style: none;
}

.menu li {
    margin: 0px 15px;
    padding: 0.5em
}

.menu a {
    /* Style links in the navbar menu */
    color: #042A2B;
    text-decoration: none;
}

.menu li:hover,
.menu li.active {
    /* Give list item a background color on active/hover */
    background-color: #ED6B86;
    border-radius: 2px;
}

.menu a:hover,
.menu a:active {
    /* Change link color on active/hover*/
    /* Is there a way to make link color change as soon as you hover around it? */
    color: #e5f4e6; 
}

.menu-toggle {
    display: none; /* For smaller screens */
    font-size: 20px;
    background: none;
    position: absolute;
    right: 20px;
    top: 20px;
    color:#042A2B;
}

/* Media query for smaller screens */
@media (max-width: 480px) {
    .nav-bar {
        position: fixed;
        flex-direction: column;
        align-items:  flex-start;
        z-index: 1;
    }

    .menu {
        display: none;
        flex-direction: column;
        width: 100%;
        padding: 0px;
        position: fixed;
        background-color:#ffffff;
    }

    .menu li {
        text-align: center;
        padding: 10px;
        padding-top: 2%;
        padding-bottom: 2%;
    }

    .menu-toggle {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
        position: absolute;
        top: 65px;
        left: 0;
        border-radius: 12px;

    }

    .menu-toggle bar {
        width: 100%;
        height: 5px;
    }
}
.hero {
    display: flex;
    justify-content: space-around; /* Distribute boxes evenly */
    align-items: center;
    width: 100%;
    height: 100vh; /* Full height of the viewport */
    padding: 20px;
    box-sizing: border-box;
}

.hero-img {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 35rem;
    height: 35rem;
    object-fit: cover;
    /* What to do to make images look nicer on desktop? */
    border-radius: 12px;
}
.cover-text {
    position: absolute;
    width: 100%;
    top: 45%;
    left: 50%;
    text-align: center;
    padding: 20px;
    transform: translate(-50%, -50%);
    background-color: #0000004f;
    color: #FFFFFF;
}

@media (max-width: 480px) {
    .hero {
        display: flex;
        width: 100%;
    }

    .hero-image {
        display: flex;
        align-items: center;
        width: 100%;
        object-fit: cover;
    }
    .cover-text {
        position: absolute;
        width: 100%;
        margin: 0;
        text-align: center;
        transform: translate(-40%, -50%);
        background-color: #0000004f;
        color: #FFFFFF;
    }
}
.about {
    color: #042A2B;
    margin: 200px;
    padding: 20px;
}

.me {
    display: flex;
    align-items: left;
    justify-content: space-between;
    margin-top: 15px;
}

.me-text {
    flex: 1;
    color: #042A2B;
    width: 100%;
    text-align: start;
    font-size: 18px;
}

.me-img {
    flex-shrink: 0;
    position: relative;
    width: 25rem;
    display: flex;
    justify-content: space-between;
    margin-left: 100px;

}

.me-img img {
    width: 50%;
    height: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 20%;
}

@media (max-width: 480px) {
    .about {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 1rem;
    }
    .me {
        flex-direction: column;
        align-items: center;
    }
    .me-text {
        flex: 1;
        color: #042A2B;
        width: 100%;
        text-align: start;
        font-size: 18px;
    }

    .me-img img {
        width: 15rem;
        height: 20rem;
        display: flex;
        justify-content: left;
        align-items: start;
        object-fit: cover;
        padding: 30px;
        border-radius: 20%;
    }
}

/*
To DO:
- Fix rounded corners on profile picture
- Fix profile picture so it doesn't float over menu bar when scrolling
- Get rid of gaps between images in gallery
- Change cover text so that it doesn't overlap with menu bar
- Change cover text so that it's background fills the width
- Modify hero image so that it is centered
*/

/*
FIXES

- Fixed floating cover text/profile pic by giving nav-bar z-index: 1

*/